.bullet_item{

}
.bullet_item--image {
  width: 200px;
  min-width: 125px;
}

.bullet_item--link {
  text-decoration: none;
  color: #E2001A;
  font-size: 14px
}

.bullet_container {
  display: flex;
  overflow: auto
}


.bullet_container::-webkit-scrollbar {
  height: 3px
}

.bullet_container::-webkit-scrollbar-track,
.bullet_container::-webkit-scrollbar-track {
  background-clip: padding-box;
  background-color: #970617;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent
}

.bullet_container::-webkit-scrollbar-thumb {
  background-color: rgb(146, 145, 145);
}
